---
import type { Options } from '@contracts'

import { Schema } from 'astro-seo-schema'

import montserrat from '@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2'
import krypton from '@fontsource/monaspace-krypton/files/monaspace-krypton-latin-400-normal.woff2'

import 'sanitize.css'
import 'sanitize.css/forms.css'
import 'sanitize.css/assets.css'
import 'sanitize.css/typography.css'
import 'sanitize.css/reduce-motion.css'

import '@fontsource-variable/montserrat'
import '@fontsource/monaspace-krypton'

import Favicons from '@components/Favicons.astro'

interface Props {
  options: Options
}

const { options } = Astro.props as Props
const { title, description, metaRobots } = options
---

<!doctype html>
<html dir="ltr" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>{title}</title>

    <slot name="preconnect" />

    <slot name="async-script" />

    <link as="font" crossorigin="anonymous" fetchpriority="high" href={montserrat} rel="preload" type="font/woff2" />
    <link as="font" crossorigin="anonymous" fetchpriority="high" href={krypton} rel="preload" type="font/woff2" />
    <link as="image" fetchpriority="high" href="/images/background.png" rel="preload" type="image/png" />

    <slot name="stylesheet" />

    <slot name="preload" />

    <slot name="defer-script" />

    <meta content={metaRobots || 'index, follow'} name="robots" />
    {description && <meta content={description} name="description" />}
    {description && <link href={Astro.url.href} rel="canonical" />}
    <meta content="Felix Icaza - https://github.com/felixicaza/codepen-concept" name="author" />
    <meta content={Astro.generator} name="generator" />

    {
      description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Organization',
            name: 'UXCorpRangel',
            description:
              'Donde Diseñadores y Desarrolladores se unen para ganar experiencias y conocimientos mientras crean proyectos increíbles.',
            image: 'https://avatars.githubusercontent.com/u/172313798',
            logo: 'https://avatars.githubusercontent.com/u/172313798',
            url: 'https://uxcorprangel.github.io/',
            sameAs: [
              'https://github.com/UXCorpRangel/',
              'https://www.linkedin.com/company/uxcorprangel',
              'https://discord.gg/GBGPSQaKRf'
            ],
            address: {
              '@type': 'PostalAddress',
              addressCountry: 'Chile'
            }
          }}
        />
      )
    }

    <slot name="schema" />

    <Favicons />

    <meta content="#282828" name="theme-color" />

    <slot name="social-media" />
  </head>
  <body>
    <slot />

    <slot name="dynamic-components" />
  </body>
</html>

<style>
  @view-transition {
    navigation: auto;
  }

  html,
  body {
    height: 100svh;
    overflow: hidden;
  }

  body {
    font-family: 'Montserrat Variable', sans-serif;
    background: #0a0a0a;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url('/images/background.png');
      opacity: 0.034;
      z-index: -1;
    }
  }
</style>
